<div class="col">
  <h2>Oba! Nos vemos em Maio</h2>
  <H3>
    <a href="https://calendar.google.com/event?action=TEMPLATE&tmeid=N2hpcWV1bjVrcjNncnVoY2p2YzE5MTR2ajYgaXZ0MWNnNGgxNGN1amVhZmlkbzZlczNuY2tAZw&tmsrc=ivt1cg4h14cujeafido6es3nck%40group.calendar.google.com">Adicione em seu Google Calendar</a>
  </H3>
  <div>
    <img src="/thankyou.png">
  </div>
</div>