<h3>Contatos:</h3>
<ul>
  <li>Vanessa Sant'Anna:</li>
    <ul>
      <li>Email: <%=Rails.application.credentials.admin_info[:email_vanessa]%></li>
      <li>Cel: <%=Rails.application.credentials.admin_info[:cel_vanessa]%></li>
    </ul>
  <li>Jesusmar Lima:</li>
    <ul>
      <li>Email: <%=Rails.application.credentials.admin_info[:email_jesus]%></li>
      <li>Cel: <%=Rails.application.credentials.admin_info[:cel_jesus]%></li>
    </ul>
</ul>