<h2>Presentes?</h2>
<p>
  O melhor presente que você pode dar eh a sua presenca! Entendemos que você quer mostar seu carinho mas estamos viajando com
  poucas malas. Se quiser fazer um gesto para Olvia, ela adora ajudar gatinhos e adoraria saber que eles receberam uma doacao.</p>
<ul>
  <li><a href="http://www.sosfelinos.org.br/ajude.htm">Ajude gatinhos</a></li>
</ul>