<h3>Presentes</h3>
<p>Por favor nāo traga presentes, pois nāo poderemos levalos de volta. Mas você pode doar para uma instituiçāo de caridade.</p>
<ul>
  <li><a href="http://www.sosfelinos.org.br/ajude.htm">Ajude gatinhos</a></li>
</ul>