<div style="color: #333; ">
  <div style="background-image:url('<%=Rails.application.credentials.invite_domain%>moana.png');  width: 360px;  height:718px; margin: auto">

    <table style=" font-family: sans-serif; font-size:17px">
      <tr height="265px"><td></td><td></td><td></td></tr>
      <tr>
        <td width="30px"></td>
        <td> Ola, <%=@invitee.name %>!
          <p>
            O Aniversário da Olivia esta chegando. Adorariamos contar com a sua
            presenca no dia 26 de Maio.
          </p>
          <p>
            A festa sera em Botafogo. Veja os detalhes e confirme <a href="<%=@url %>" style=" color: #333;
              font-style:italic;">clicando aqui</a>
          </p>
          <p>
            Beijos,
            <br/>
            Vanessa, Jesus<br/> e Olivia.
          </p></td>
        <td width="30px"></td>
      </tr>
    </table>
  </div>
</div>
