<div style="color: #333; ">
  <div style="background-image:url('https://s3.amazonaws.com/prod.tracker2/resource/95189527/moana.png?response-content-disposition=inline&response-content-type=image%2Fpng&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJJBSFJ4TCVKKGAIA%2F20190221%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20190221T043913Z&X-Amz-Expires=1800&X-Amz-SignedHeaders=host&X-Amz-Signature=f51d143892579ab8b96a8b732952a3894693b28902e256a1cc2e06aa6b3c53ff');  width: 360px;  height:718px; margin: auto">

    <table style=" font-family: sans-serif; font-size:17px">
      <tr height="265px"><td></td><td></td><td></td></tr>
      <tr>
        <td width="30px"></td>
        <td> Ola, <%=@invitee.name %>!
          <p>
            O Aniversário da Olivia esta chegando. Adorariamos contar com a sua
            presenca no dia 26 de Maio.
          </p>
          <p>
          A festa sera em Botafogo. Veja os detalhes e confirme <a href="https://<%=@url %>" style=" color: #333;
              font-style:italic;">clicando aqui</a>
          </p>
          <p>
            Beijos,
            <br/>
            Vanessa, Jesus<br/> e Olivia.
          </p></td>
          <td width="30px"></td>

      </tr>
    </table>
  </div>
</div>
