<div style="color: #333;">
  <div style="background-image:url('https://www.drevio.com/wp-content/uploads/2018/06/FREE-Moana-Birthday-Invitation-Template-New.jpg');  width: 835px;  height:595px;">

    <table style=" font-family: sans-serif; font-size:18px">
      <tr height="135px"><td></td><td></td></tr>
      <tr>
        <td width="90px"></td>
        <td> Ola, <%=@invitee.name %>!
          <p>
            O Aniversario da Olivia esta chegando.
          </p>
          <p>
            Adorariamos contar com a sua <br/>
            presenca no dia 26 de Maio<br/>
            em Botafogo.
          </p>
          <p>
            Para confirmar sua presenca e <br/>ver os detalhes do local <a href="https://<%=@url %>" style=" color: #333;
              font-style:italic;">clique aqui</a>
          </p>
          <p>
            Beijos,
            <br/>
            Vanessa, Jesus e Olivia.
          </p></td>
      </tr>
    </table>
  </div>
</div>